@(changePasswordForm: Form[(String, String)], user: models.User)(implicit request: RequestHeader, messages: Messages, flash: Flash)

@import helper._
@import views.FormHelper._

@main(Messages("change.password.title"), utils.ChangePassword, Some(user)) {

    <div class="container row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            @alerts()

            <div class="card-panel">
                <h5 class="center">@Messages("change.password")</h5>

                <p>@Messages("strong.password.info")</p>

                @form(action = routes.ChangePassword.submit()) {
                    @inputPassword(changePasswordForm("current-password"), '_label -> Messages("current.password"),
                        'required -> "true", 'class -> "validate", '_showConstraints -> false)
                    @inputPassword(changePasswordForm("new-password"), '_label -> Messages("new.password"),
                        'required -> "true", 'class -> "validate", '_showConstraints -> false)

                    <div class="center"> <button class="btn waves-effect" type="submit">
                    @Messages("change")
                    </button></div>
                }
            </div>
        </div>
    </div>
}
