@(forgotPasswordForm: Form[String])(implicit request: RequestHeader, messages: Messages, flash: Flash)


@import helper._
@import views.FormHelper._

@main(Messages("forgot.password.title"), utils.ForgotPassword) {

    <div class="container row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            @alerts()

            <div class="card-panel">
                <h5 class="center">@Messages("forgot.password")</h5>
                
                <p>@Messages("forgot.password.info")</p>
                
                @form(action = routes.ForgotPassword.submit()) {
                    @helper.CSRF.formField
                    @inputText(forgotPasswordForm("email"), '_label -> Messages("forgot.password.email"), 'type -> "email",
                        'required -> "true", 'class -> "validate", '_showConstraints -> false)

                    <div class="center"> <button class="btn waves-effect" type="submit">
                    @Messages("send")
                    </button></div>
                }
            </div>
        </div>
    </div>
}
