@import utils.Location
@import utils.LogIn
@(location: Location, maybeUser: Option[User])(implicit messages: Messages)

@import utils.SignUp

@menu() = @{
    maybeUser match {
        case Some(user) =>
            <li>
                <a class="dropdown-button" href="#!" data-activates="logout-dropdown">
                {user.username}<i class="material-icons right">arrow_drop_down</i>
                </a>
                <ul id="logout-dropdown" class="dropdown-content">
                    <li><a href='/password/change'>{Messages("change.password")}</a></li>
                    <li><a href='/logout'>{Messages("log.out")}</a></li>
                </ul>
            </li>
        case None => location match {
            // TODO remove repetition
            case LogIn =>
                <li><a href='/signup'>{Messages("sign.up")}</a></li>
                <li class="active"><a href='/login'>{Messages("log.in")}</a></li>
            case SignUp =>
                <li class="active"><a href='/signup'>{Messages("sign.up")}</a></li>
                <li><a href='/login'>{Messages("log.in")}</a></li>
            case _ =>
                <li><a href='/signup'>{Messages("sign.up")}</a></li>
                <li><a href='/login'>{Messages("log.in")}</a></li>
        }
    }
}

<nav>
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">@Messages("application.name")</a>
        <a href="/" data-activates="mobile-nav" class="button-collapse">
            <i class="material-icons">menu</i></a>
        <ul class="side-nav" id="mobile-nav">
        @menu
        </ul>
        <ul class="right hide-on-med-and-down">
        @menu
        </ul>
    </div>
</nav>