@(linkForm: Form[models.LinkAddData], links: Seq[Link], user: User)(implicit messages: Messages, request: RequestHeader)

@import helper._
@import utils.Home
@import views.FormHelper._

@main(Messages("home.title"), Home, Some(user)) {
    <div class="container row">
        <div class="col l7 m12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>@Messages("link.link")</th>
                        <th>@Messages("link.description")</th>
                    </tr>
                </thead>
                <tbody id="links-list"></tbody>
            </table>

            @*the confirm deletion modal*@
            <div id="modal-delete-link" class="modal">
                <div class="modal-content">
                    <h5 class="center">@Messages("delete.link.modal")</h5>
                </div>
                <div class="modal-footer">
                    <a id="button-confirm-delete-link" href="#" class="modal-action modal-close waves-effect waves-green btn-flat">
                    @Messages("delete.link.confirm")</a>
                    <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">@Messages("delete.link.cancel")</a>
                </div>
            </div>
        </div>

        <div class="col l5 m8 offset-m2 s12">
            <div class="card-panel">
                <h5 class="center">@Messages("new.link")</h5>
                @* @form(action = routes.Application.addLink) {*@
                <form id="new-link-form">
                    @inputText(linkForm("url"), '_label -> Messages("link.url"), 'type -> "url",
                        'required -> "true", 'class -> "validate", '_showConstraints -> false)
                    @inputText(linkForm("name"), '_label -> Messages("link.name.optional"),
                        'class -> "validate", '_showConstraints -> false)
                    @textarea(linkForm("description"), '_label -> Messages("link.description.optional"),
                        'class -> "validate materialize-textarea")

                    <div class="center"> <button class="btn waves-effect" type="submit">@Messages("add.link")</button></div>
                </form>
                @* }*@
            </div>
        </div>
    </div>
}