@(linkForm: Form[models.LinkAddData], folderForm: Form[models.FolderAddData], maybeUser: Option[User])(implicit messages: Messages, request: RequestHeader)

    @import helper._
    @import utils.Home
    @import views.FormHelper._

    @main(Messages("home.title"), Home, maybeUser) {
        @if(maybeUser.isEmpty) {
            <div id="guest" class="container row">
                <div class="col s12">
                    <div class="card-panel blue lighten-2 center">
                        <h6 class="light">@Messages("guest.warning")</h6>
                    </div>
                </div>
            </div>
        }
        <div class="container row">
            <div class="col l7 m12 12">
                @*the confirm deletion modal*@
                <div id="modal-delete-link" class="modal">
                    <div class="modal-content">
                        <h5 class="center">@Messages("delete.link.modal")</h5>
                    </div>
                    <div class="modal-footer">
                        <a id="button-confirm-delete-link" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">
                        @Messages("delete.link.confirm")</a>
                        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">@Messages("delete.link.cancel")</a>
                    </div>
                </div>
                <div id="modal-delete-folder" class="modal">
                    <div class="modal-content">
                        <h5 class="center">@Messages("delete.folder.modal")</h5>
                    </div>
                    <div class="modal-footer">
                        <a id="button-confirm-delete-folder" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">
                        @Messages("delete.link.confirm")</a>
                        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">@Messages("delete.link.cancel")</a>
                    </div>
                </div>

                @*TODO why not http://demo.geekslabs.com/materialize-v1.0/advanced-ui-nestable.html*@
                @*https://github.com/dbushell/Nestable*@
                <ul id="links-collection" class="collapsible" data-collapsible="accordion">
                </ul>
            </div>

            <div class="col l5 m8 offset-m2 s12">
                <div class="card">
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a class="active" href="#new-link">@Messages("new.link")</a></li>
                            <li class="tab"><a href="#new-folder">@Messages("new.folder")</a></li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <div id="new-link" >
                            <form id="new-link-form">
                                @helper.CSRF.formField
                                <div class="input-field">
                                    <input disabled id="link-location" type="text" class="validate location-field" value="/">
                                    <label for="link-location">Location</label>
                                </div>
                                @inputText(linkForm("url"), '_label -> Messages("link.url"), 'type -> "url",
                                    'placeholder -> "http://...",
                                    'required -> "true", 'class -> "validate", '_showConstraints -> false)
                                @inputText(linkForm("name"), '_label -> Messages("link.name.optional"),
                                    'class -> "validate", '_showConstraints -> false)
                                @textarea(linkForm("description"), '_label -> Messages("link.description.optional"),
                                    'class -> "validate materialize-textarea")

                                <div class="center">
                                    <button class="btn waves-effect" type="submit">@Messages("add.link")</button>
                                </div>
                            </form>
                        </div>
                        <div id="new-folder" >
                            <form id="new-folder-form">
                                @helper.CSRF.formField
                                <div class="input-field">
                                    <input disabled id="folder-location" type="text" class="validate location-field" value="/">
                                    <label for="link-location">Location</label>
                                </div>
                                @inputText(folderForm("name"), '_label -> Messages("folder.name"),
                                    'required -> "true",
                                    'class -> "validate", '_showConstraints -> false)
                                <div class="center">
                                    <button class="btn waves-effect" type="submit">@Messages("add.link")</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }