@(userForm: Form[models.UserLogInData])(implicit messages: Messages, request: RequestHeader, flash: Flash)

@import helper._
@import utils.LogIn
@import views.FormHelper._

@main(Messages("log.in.title"), LogIn, None) {
    <div class="container row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            @alerts()
            
            <div class="card-panel">
                <h5 class="center">@Messages("log.in.credentials")</h5>
                @form(action = routes.LogIn.submit()) {
                    @inputText(userForm("username"), '_label -> Messages("log.in.username"),
                        'required -> "true", 'class -> "validate", '_showConstraints -> false)
                    @inputPassword(userForm("password"), '_label -> Messages("log.in.password"),
                        'required -> "true", 'class -> "validate", '_showConstraints -> false)

                    <div class="center"> <button class="btn waves-effect" type="submit">
                    @Messages("log.in.now")
                    </button></div>
                }
            </div>
        </div>
    </div>
}