@(passwordForm: Form[String], token: java.util.UUID)(implicit request: RequestHeader, messages: Messages, flash: Flash)

@import helper._
@import views.FormHelper._

@main(Messages("reset.password.title"), utils.ResetPassword) {
    <div class="container row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            @alerts()

            <div class="card-panel">
                <h5 class="center">@Messages("reset.password")</h5>

                <p>@Messages("strong.password.info")</p>

                @form(action = routes.ResetPassword.submit(token), 'autocomplete -> "off") {
                    @inputPassword(passwordForm("password"), '_label -> Messages("reset.password.password"),
                        'required -> "true", 'class -> "validate", '_showConstraints -> false)

                    <div class="center"> <button class="btn waves-effect" type="submit">
                    @Messages("reset")
                    </button></div>
                }
            </div>
        </div>
    </div>
}
