@(location: Location)
<nav>
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">LinkManager</a>
        <a href="/" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li @{ 
                location match {
                    case LogIn => "class=active"
                    case _ =>
                }
            }><a href="/login">Log in</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
        <ul class="side-nav" id="mobile-nav">
            <li @{
                location match {
                    case LogIn => "class=active"
                    case _ =>
                }
            }><a href="/login">Log in</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div>
</nav>